<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<link rel="stylesheet" media="all and (min-width: 640px)" href="/static/css/desktop.css" type="text/css">
		{% block myscripts %}{% endblock%}
	</head>

	<body>

	<div class="page-wrapper">
		<div class="header-wrapper">
			<div class="header-content">
				<div id="user-menu"><div id="user-menu-inner" class="content"><a href="#">{% block usermenu %}UserName - logout {% endblock %}</a></div></div>
				<div id="heading"><div id="heading-inner" class="content"><h1>TinyTracker</h1></div></div>
				<div id="top-menu"><div id="top-menu-inner" class="content"><a href="#">Home</a> - <a href="#">Projects</a> - <a href="#">Task</a> - <a href="#">Hours</a> <a href="#">Scrum</a></div></div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="content-content">
				<div id="sidebar-left">
					<div id="sidebar-left-inner" class="content">
				        {% block sidebar %}
					{% endblock %}
					</div>
				</div>
				<div id="main">
					<div id="main-inner" class="content">
					        {% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</body>
</html>
