<!doctype html>
<html>
<head>
    <title>Page title</title>
	<link rel="stylesheet" href="static/css/main.css" type="text/css" media="screen" />
</head>
<body>
    <header>
        <h1>Page title</h1>
    </header>
    <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Hours</a></li>
        <li class="subscribe"><a href="#">Subscribe via. RSS</a></li>
    </ul>
        <!-- Navigation -->
    </nav>
    <section id="intro">
    	<header>
    	    <h2>Tiny Tracker is a tool to track your daily work, connect it with your tracks and proyect, and handle all together in a Scrum Style</h2>
    	</header>

    <p>Something else</p>
    </section>
    <section>
	<article class="blogPost">
        <header>
            <h2>Current Date: <time datetime="2014-04-22T13:31:45+01:00">April 22th 2014</time> </h2>
            <!-- <p>Posted on <time datetime="2009-06-29T23:31:45+01:00">June 29th 2009</time> by <a href="#">Mads Kjaer</a> - <a href="#comments">3 comments</a></p> -->
        </header> 
        <p>Here will be my cool Table with my current information</p>
	</article>


        <form action="#" method="post">
            <h3>Add some tracks</h3>
            <p>
                <label for="name">Hours</label>
                <input name="name" id="name" type="text" required />
            </p>
            <p>
                <label for="desc">Description</label>
                <input name="desc" id="desc" type="text" required />
            </p>
            <p>
                <label for="website">Website</label>
                <input name="website" id="website" type="url" />
            </p>
            <p><input type="submit" value="Add" /></p>
        </form>
    </section>
	<aside>
		<section>
			<header>
				<h3>Calendar</h3>
			</header>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
			</ul>
		</section>
		<section>
			<header>
				<h3>datapicker</h3>
			</header>
			<ul>
				<li><a href="#">December 2008</a></li>
			</ul>
		</section>
	</aside>
	<footer>
		<div>
			<section id="about">
				<header>
					<h3>About</h3>
				</header>
				<p>some text</p>
			</section>
			<section id="blogroll">
				<header>
					<h3>Blogroll</h3>
				</header>
				<ul>
					<li><a href="#">NETTUTS+</a></li>
				</ul>
			</section>
			<section id="popular">
				<header>
					<h3>Popular</h3>
				</header>
				<ul>
					<li><a href="#">This is the title of a blog post</a></li>
				</ul>
			</section>
		</div>
	</footer> 
</body>
</html>
